/**************/
/* CSS REMEDY */
/**************/

/*MAIN*/
main{
	background-color: var(--background-main);
	color: var(--color-text-dark);
}


main h2{
	font-size: small;
    text-align: center;
}



main section{
	background-color: var(--background-section);
}

/* CAROUSEL 
bron: carousel oefening les */

main section:nth-of-type(2) ul {
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	scrollbar-width: thin;
	scrollbar-color: black;
	scrollbar-color:#f09 transparent;
    list-style-type: "";
}

main section:nth-of-type(2) ul li {
	flex-basis:100%;
  	flex-shrink: 0;
  	scroll-snap-align: center;
}

main section:nth-of-type(2) ul li img {
	width: 100%;
    height: 100%;
}

/* SECTIE DONKERE ACHTERGROND */
main section:nth-child(3) {
    background-color: var(--background-main);
}

main section:nth-child(3) p {
    color: var(--color-text-light);
    padding: 1em;
    font-size: 2em;
}

main section:nth-child(3) img{
    padding: 3em;
    max-width: 100%;
}

/* button sectie donkere achtergrond */
main section:nth-child(3) button{
	background-color: var(--button-color);
	border: none;
	padding: 1em 1.5em 1em 1.5em;
	border-radius: .5em;
    width: 10em;
    margin: 2em;
    color: var(--color-text-light);
}

/* SECTIE LICHTE ACHTERGROND */
main section:nth-child(4) h2 {
    font-family: 'twix compressed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3em;
}

main section:nth-child(4) li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:nth-child(4) li img {
    width: 80%;
    transition: 1s;
    order: -10;
}


main section:nth-child(4) li img:hover {
    scale: 1.1;
    transition: 1s;
}

main section:nth-child(4) li h3 {
    font-size: 2em;
}

/* buttons sectie lichter achtergrond */

main section:nth-child(4) li button{
	background-color: var(--button-color);
	border: none;
	padding: 1em 1.5em 1em 1.5em;
	border-radius: .5em;
    width: 10em;
    margin: 2em;
    color: var(--color-text-light);
}




/* FOTO BANNER */
main section:nth-of-type(5) img {
    width: 100%;
}


