/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


@font-face {
	font-family:;
	src: url(https://www.twix.com/sites/g/files/fnmzdf236/files/GoForGoldText.woff);
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme: light dark;

	--color-text:#490F00;
	--color-nav-gradient: #E69D31;
	--color-nav-gradient-top: #EFC16D;
	--color-buttons: #E62B1E;
}

/* header */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(
			to right,
			var(--color-nav-gradient),
			var(--color-nav-gradient-top),
			var(--color-nav-gradient)
			);

}

header img{
	height: 10em;
	width: 10em;
}

header nav ul li a{
	list-style: none;
	text-decoration: none;
	color: var(--color-text);

}

/* nav */
nav {
	order: -10;
}

nav ul{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* nav button */
nav button {
	z-index: 1;
	position: fixed;
	appearance: none;
  	font-size: 1em;
  	width: 3em;
  	aspect-ratio: 1;
  	border: none;
  	background-color: var(--color-buttons);
	display: grid;
	justify-content: center;
	align-content: center;
}

nav button span{
  display: block;
  width: 1.5em;
  height: .2em;
  background-color: var(--color-text);
  border-radius: .1em;
  grid-column-start: 1;
  grid-row-start: 1;
}

nav button span:nth-of-type(1){
  translate: 0 -.5em;
}

nav button span:nth-of-type(3){
  translate: 0 .5em;
}

nav button.is-open span:nth-of-type(1){
  translate: 0 0;
  rotate: 45deg;
}

nav button.is-open span:nth-of-type(2){
  scale: 0 1;
}

nav button.is-open span:nth-of-type(3){
  translate: 0 0;
  rotate: -45deg;
}



body {
	display: grid;
	grid-column: row;
	
}

main section:nth-of-type(2) {
	display: flex;
	overflow: auto;
}

main section:nth-of-type(2) ul {
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	scrollbar-width: thin;
	scrollbar-color: black;
	scrollbar-color:#f09 transparent;
}

main section:nth-of-type(2) ul li {
	flex-basis:100%;
  	flex-shrink: 0;
  	scroll-snap-align: center;
}



/* ------------------------------------ */
/* RECIPIES PAGINA */
/* ------------------------------------ */

/* #recipies {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

#recipies h1 {
	font-size: 1em;
} */